/* Y In Mn Blue: #304D6D */
* {
    margin: 0px;
}
/* HEADER */
.container {
    height: auto;
    color: white;
    display: block;
    background-image: linear-gradient(
    rgb(14, 34, 56) 0%,
    rgba(62, 151, 247) 100%
        );
    margin: 10px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.navbar h1 {
    width: 100%;
    text-align: center;
    margin: 25px;
    font-size: 52px;
}
.navbar ul {
    width: 100%;
    text-align: center;
    list-style: none;
    margin-left: -40px;
    margin-bottom: 20px;
}
.navbar ul li {
    font-size: 25px;
    display: inline;
    color: white;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}
.navbar ul li a {
    color: white;
}



/* About Section */
#about {
    display: flex;
    flex-wrap: wrap;
}
#about img {
    margin: 10px;
    height: 375px;
    width: 415px;
}
#about p {
    text-align: center;
}